<!{% extends 'base.html' %}

{% block wrapper %}
<div class="wrapper">
    <div class="box1">
        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champions[champions_names.index(champion_selected)]}}_0.jpg">
    </div>
        <div class="box2">
            <form action="{{ url_for('overview.overview') }}" method="POST">
                <select class="champ-select" id="champion_selected" name="champion_selected" onchange="this.form.submit()">
                    <option selected hidden> {{ champion_selected }}</option>
                    {% for champion in champions_names[0:] %}
                    <option value="{{champion}}" >{{champion}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="box3"><p>{{ lore }}</p></div>
        <div class="wrapper2">
            <div class="o_box0">
                <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/passive/{{spells[0][0]}}">
            </div>
            <div class="o_box5">
                <p>{{spells[1][0]}}</p>
                <p class="desc">{{spells[2][0]}}</p>
            </div>
            {% for i in range(1,5) %}
            <div class="o_box{{i}}">
                <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/spell/{{spells[0][i]}}">
            </div>
            <div class="o_box{{i+5}}">
                <p>{{spells[1][i]}}</p>
                <p class="desc">{{spells[2][i]}}</p>
            </div>
            {% endfor %}
        </div>
</div>
<script>
    document.body.style.backgroundImage = "url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champions[champions_names.index(champion_selected)]}}_0.jpg')";
    document.body.style.backgroundSize = "cover";
    document.body.style.backgroundPosition = "center";
</script>
{% endblock %}
