<!{% extends 'base.html' %}

{% block wrapper %}
<div class="wrapper">
    <div class="box1">
        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champions[champions_names.index(champion_selected)]}}_0.jpg">
    </div>
        <div class="box2">
            <form action="{{ url_for('overview.overview') }}" method="POST">
                <select class="champ-select" id="champion_selected" name="champion_selected" onchange="this.form.submit()">
                    <option selected hidden> {{ champion_selected }}</option>
                    {% for champion in champions_names[0:] %}
                    <option value="{{champion}}" >{{champion}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="box3"><p>{{ lore }}</p></div>
        <div class="wrapper2">
            <div class="box4">
                <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/passive/{{spells[0][0]}}">
            </div>
            <div class="box5">
                <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/spell/{{spells[0][1]}}">
            </div>
            <div class="box6">
                <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/spell/{{spells[0][2]}}">
            </div>
            <div class="box7">
                <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/spell/{{spells[0][3]}}">
            </div>
            <div class="box8">
                <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/spell/{{spells[0][4]}}">
            </div>
            <div class="box9">
                <p>{{spells[1][0]}}</p>
                <p class="desc">{{spells[2][0]}}</p>
            </div>
            <div class="box10">
                <p>{{spells[1][1]}}</p>
                <p class="desc">{{spells[2][1]}}</p>
            </div>
            <div class="box11">
                <p>{{spells[1][2]}}</p>
                <p class="desc">{{spells[2][2]}}</p>
            </div>
            <div class="box12">
                <p>{{spells[1][3]}}</p>
                <p class="desc">{{spells[2][3]}}</p>
            </div>
            <div class="box13">
                <p>{{spells[1][4]}}</p>
                <p class="desc">{{spells[2][4]}}</p>
            </div>
        </div>
</div>
<script>
    document.body.style.backgroundImage = "url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champions[champions_names.index(champion_selected)]}}_0.jpg')";
    document.body.style.backgroundSize = "cover";
    document.body.style.backgroundPosition = "center";
</script>
{% endblock %}
