<!{% extends 'base.html' %}

{% block wrapper %}
<div class="wrapper">
    <div class="box1">
        placeholder
    </div>
    <div class="box2">
        <form class="champ-select" method="POST">
            <input name="summoners_name">
            <input type="submit">
        </form>
    </div>
    <div class="box3">
        <p>LAST MATCH</p></p>
    </div>
    <div class="wrapper3">
        <div class="box4">
            <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/champion/{{champions[0]}}.png">
        </div>
        <div class="box5">
            <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/champion/{{champions[1]}}.png">
        </div>
        <div class="box6">
            <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/champion/{{champions[2]}}.png">
        </div>
        <div class="box7">
            <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/champion/{{champions[3]}}.png">
        </div>
        <div class="box8">
            <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/champion/{{champions[4]}}.png">
        </div>
        <div class="box9">
            {{ summoners_name[0] }}
            {{ champions[0] }}
        </div>
        <div class="box10">
            {{ summoners_name[1] }}
            {{ champions[1] }}
        </div>
        <div class="box11">
            {{ summoners_name[2] }}
            {{ champions[2] }}
        </div>
        <div class="box12">
            {{ summoners_name[3] }}
            {{ champions[3] }}
        </div>
        <div class="box13">
            {{ summoners_name[4] }}
            {{ champions[4] }}
        </div>
        <div class="box14">
            <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/champion/{{champions[5]}}.png">
        </div>
        <div class="box15">
            <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/champion/{{champions[6]}}.png">
        </div>
        <div class="box16">
            <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/champion/{{champions[7]}}.png">
        </div>
        <div class="box17">
            <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/champion/{{champions[8]}}.png">
        </div>
        <div class="box18">
            <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/champion/{{champions[9]}}.png">
        </div>
        <div class="box19">
            {{ summoners_name[5] }}
            {{ champions[5] }}
        </div>
        <div class="box20">
            {{ summoners_name[6] }}
            {{ champions[6] }}
        </div>
        <div class="box21">
            {{ summoners_name[7] }}
            {{ champions[7] }}
        </div>
        <div class="box22">
            {{ summoners_name[8] }}
            {{ champions[8] }}
        </div>
        <div class="box23">
            {{ summoners_name[9] }}
            {{ champions[9] }}
        </div>
    </div>
</div>
{% endblock %}
