<!{% extends 'base.html' %}

{% block wrapper %}
<div class="wrapper">
    <div class="box1">
        placeholder
    </div>
    <div class="box2">
        <form class="champ-select" method="POST">
            <input name="summoners_name">
            <input type="submit">
        </form>
    </div>
    <div class="box3">
        <p>LAST MATCH</p></p>
    </div>
    <div class="wrapper3">
        {% for i in range(5) %}
        <div class="p_box{{i}}">
            <p>{{ summoners_name[i] }}</p>
        </div>
        <div class="p_box{{i+5}}">
            <p>{{ summoners_name[i+5] }}</p>
        </div>
        <div class="p_box{{i+10}}">
            <div class="image">
                <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/champion/{{champions[i]}}.png">
                <span class="tooltiptext">{{ champion_names[i] }}</span>
            </div>
        </div>
        <div class="p_box{{i+15}}">
            <div class="image">
                <img src="http://ddragon.leagueoflegends.com/cdn/12.22.1/img/champion/{{champions[i+5]}}.png">
                <span class="tooltiptext">{{ champion_names[i+5] }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
